@model DiscountCalc.Models.DiscountResult

@{
    ViewData["Title"] = "Home Page";    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <form id="myForm" method="post" action="@Url.Action("Index", "Home")">
        <label for="inputData">Input Data:</label>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" 
                   id="inputData" 
                   value="@Model?.ListPrice"
                   name="inputData" 
                   class="form-control" 
                   placeholder="Discount" 
                   aria-label="Discount">
        </div>

        <button type="submit">Submit</button>
    </form>

@* 
    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            event.preventDefault();

            // Perform your POST request using Fetch API or another method
            fetch(this.action, {
                method: this.method,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(new FormData(this)).toString(),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Handle the response as needed
                })
                .catch(error => {
                    console.error('Error calling controller action:', error);
                });
        });
    </script> *@
@* 
    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (event) {
                event.preventDefault();

                // Perform POST request using jQuery
                $.post({
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        // Handle the response as needed
                    },
                    error: function (error) {
                        console.error('Error calling controller action:', error);
                    }
                });
            });
        });
    </script> *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
